* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body,
html {
  font-size: 62.5%;
  margin-top: 0;
}
header {
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
header a {
  color: white;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: white;
  border: 1px solid blue;
  color: #0266ff;
}

textarea {
  background-color: white;
  color: black;
}
#root {
  /* max-width: 1280px; */
  margin: 0px;
  /* padding: 2rem; */
  text-align: center;
  font-size: 1.5rem;
}
.image-uploader {
  width: 410px;
  height: 320px;
  padding: 10px;
  max-width: 100%;
  background: transparent;
  background-size: cover;
  border-radius: 5%;
  position: relative;
}
.image-uploader input[type="file"] {
  display: none;
}
.image-button {
  cursor: pointer;
  padding: 12px 35px;
  border: 1px solid #0266ff;
  color: #0266ff;
  background: transparent !important;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Loader */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(112 85 85 / 50%);
  z-index: 2;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.item-cross {
  margin: 5px;
  background-color: lightcoral;
  color: white;
}

.item-cross:hover {
  background-color: red;
}
